.borda {
  border: 2px solid $cor-preto;

  &--leve {
    border-width: 1px;
  }

  &--forte {
    border-width: 3px;
  }
}

/*GUIDE
Base|Borda

<div class="holder holder--short borda">borda</div>
<div class="holder holder--short borda borda--leve">borda borda--leve</div>
<div class="holder holder--short borda borda--forte">borda borda--forte</div>
*/