.bloco-produto {
  $P: &;
  
  .btn {
    cursor: pointer;
  }

  &--lista {
    display: inline-block;
    margin-bottom: 32px;
  }

  &--detalhe {
    #{$P}__image {
      display: inline-block;
      width: 450px;
      margin: -5px;
      padding: 0 15px;
      vertical-align: top;

      @include mobile {
        width: 300px;
        margin: 12px 0;
      }

      @include extra-pequeno {
        width: 80%;
      }
    }
    
    #{$P}__info {
      display: inline-block;
      width: calc(100% - 450px);
      margin: -5px;
      padding: 0 15px;
      vertical-align: top;

      &__descricao {
        padding: 24px 0;
      }

      @include mobile {
        width: calc(100% - 300px);
      }

      @include extra-pequeno {
        width: 100%;
      }
    }
  
    .btn {
      cursor: pointer;

      @include extra-pequeno {
        width: 100%;
      }
    }
  }
}

/*GUIDE
Componente|Bloco Produto - Lista

<div class="container">
  <div class="row">
    <div class="col col-3 m-col-4 s-col-6 xs-col-12">
      <div class="bloco-produto bloco-produto--lista">
        <img class="max-full-width" src="http://via.placeholder.com/200" />
        <h3 class="font-primaria h3 c-primaria">Produto 1</h3>
        <p class="font-primaria paragraph c-primaria">
          Descrição do produto
        </p>
        <a class="sombra btn btn--primario full-width text-align-center">Ver mais</a>
      </div>
    </div>
  </div>
</div>
*/

/*GUIDE
Componente|Bloco Produto - Detalhe

<div class="container">
  <div class="row">
    <div class="col col-12">
      <div class="bloco-produto bloco-produto--detalhe">
        <img class="bloco-produto__image max-full-width" src="http://via.placeholder.com/450" />
        <div class="bloco-produto__info text-align-left">
          <h2 class="font-primaria h2 c-primaria">Produto 1</h2>
          <p class="bloco-produto__info__descricao font-primaria paragraph c-primaria">
            Descrição longa do produto para descrever com muito mais detalhes o produto como esse: Chorizo! New Hello! Hi! Oh... glad Mmm! That's, man, Super hot you've soup! yeah! could! grumpy! Dash!! Party he's Look, Street heeheeheeheehee! Mansion vs. soup. you've No, hibiscus! It's don't not Sonic Did Huh!? That's, irresponsible I, go! .......why? Super cow... Mix C'est Huh, Wii Mario was Wii Adventures 'biscus! irresponsible he's Go, Ho-ho! swingcycle! tamale! little it-it-it's Huh!? delicious glad that, it... hibiscus! Toadstool glad albino Missing! 3D doesn't glad Bros. guy... it? Go, it? 'Banano'? that! Kong Party Why? bathtub. guy... man, know. Uh-oh, that's Olympic Mmm-hmm! Mansion off that! Dash!! that! And 'Banano'? Huh, Dash!! Wario?!? swingcycle! think, CRAB! Hello! yeah!
          </p>
          <a class="sombra btn btn--primario text-align-center">Comprar</a>
          <a class="sombra btn btn--secundario text-align-center">Adicionar a lista de desejos</a>
        </div>
      </div>
    </div>
  </div>
</div>
*/