.bloco-produto {
  display: inline-block;
  margin-bottom: 32px;

  .btn {
    cursor: pointer;
  }
}

/*GUIDE
Componente|Bloco Produto

<div class="container">
  <div class="row">
    <div class="c-branco col col-3 m-col-4 s-col-6 xs-col-12">
      <div class="bloco-produto">
        <img class="max-full-width" src="http://via.placeholder.com/200" />
        <h3 class="font-primaria h3 c-primaria">Produto 1</h3>
        <p class="font-primaria paragraph c-primaria">
          Descrição do produto
        </p>
        <a class="sombra btn btn--primario full-width text-align-center">Ver mais</a>
      </div>
    </div>
    <div class="c-branco col col-3 m-col-4 s-col-6 xs-col-12">
      <div class="bloco-produto">
        <img class="max-full-width" src="http://via.placeholder.com/200" />
        <h3 class="font-primaria h3 c-primaria">Produto 2</h3>
        <p class="font-primaria paragraph c-primaria">
          Descrição do produto
        </p>
        <a class="sombra btn btn--promocao full-width text-align-center">Ver mais</a>
      </div>
    </div>
    <div class="c-branco col col-3 m-col-4 s-col-6 xs-col-12">
      <div class="bloco-produto">
        <img class="max-full-width" src="http://via.placeholder.com/200" />
        <h3 class="font-primaria h3 c-primaria">Produto 3</h3>
        <p class="font-primaria paragraph c-primaria">
          Descrição do produto
        </p>
        <a class="sombra btn btn--primario full-width text-align-center">Ver mais</a>
      </div>
    </div>
    <div class="c-branco col col-3 m-col-4 s-col-6 xs-col-12">
      <div class="bloco-produto">
        <img class="max-full-width" src="http://via.placeholder.com/200" />
        <h3 class="font-primaria h3 c-primaria">Produto 4</h3>
        <p class="font-primaria paragraph c-primaria">
          Descrição do produto
        </p>
        <a class="sombra btn btn--primario full-width text-align-center">Ver mais</a>
      </div>
    </div>
  </div>
</div>
*/