$container-width: 100%;
$numero-colunas: 12;
$largura-pequeno: calc(100vw - 40px);

.container {
  width: $container-width;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.row {
  margin: 0 -15px;
  text-align: center;

  &::before, &::after {
    content: "";
    display: table;
  }

  &::after {
    clear: both;
  }
}

.col {
  display: inline-block;
  vertical-align: top;
  min-height: 5px;
  padding: 0 10px;
  box-sizing: border-box;
  width: 100%;
  margin-right: -5px;
  *zoom: 1;
  *display: inline;
  text-align: left;
}

@include gerar-colunas($container-width, "", $numero-colunas);

@include extra-largo {
  @include gerar-colunas($extra-largo, "", $numero-colunas);
  @include gerar-colunas($extra-largo, "xl-", $numero-colunas);
}

@include largo {
  @include gerar-colunas($largo, "", $numero-colunas);
  @include gerar-colunas($largo, "l-", $numero-colunas);
}

@include medio {
  @include gerar-colunas($medio, "", $numero-colunas);
  @include gerar-colunas($medio, "m-", $numero-colunas);
}

@include pequeno {
  @include gerar-colunas($pequeno, "", $numero-colunas);
  @include gerar-colunas($pequeno, "s-", $numero-colunas);
}

@include extra-pequeno {
  @include gerar-colunas($largura-pequeno, "", $numero-colunas);
  @include gerar-colunas($largura-pequeno, "xs-", $numero-colunas);
}

/*GUIDE
Base|Grid

<div class="container">
  <div class="row">
    <div class="col col-4 m-col-7 xs-col-12">
      <div class="holder b-secundaria">col col-4 m-col-7 xs-col-12</div>
    </div>
    <div class="col col-8 m-col-5 xs-col-12">
      <div class="holder b-secundaria">col col-8 m-col-5 xs-col-12</div>
    </div>
  </div>
  <div class="row">
    <div class="col col-3 xs-col-12">
      <div class="holder b-secundaria">col col-3 xs-col-12</div>
    </div>
    <div class="col col-5 xs-col-12">
      <div class="holder b-secundaria">col col-5 xs-col-12</div>
    </div>
    <div class="col col-4 xs-col-12">
      <div class="holder b-secundaria">col col-4 xs-col-12</div>
    </div>
  </div>
</div>
*/