.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

// Linha
.row {
  margin: 0 -15px;
  text-align: center;

  // Clearfix Start (Evitar elementos flutuarem em volta do elemento)
  // Vai forçar a linhas fiarem uma em baixo da outra
  &::before,
  &::after {
    content: "";
    display: table;
  }
  &::after {
    clear: both;
  }
  // Clearfix End
}

// Colunas
.col {
  // Ao usar inline-block temos controle do alinhamento vertical (vertical-align)
  // diferentemente do float onde temos dificuldade de fazer esse controle
  display: inline-block;
  vertical-align: top;
  min-height: 5px;
  padding: 0 10px;
  box-sizing: border-box;
  width: 100%;
  margin: 0 -5px; // Eliminar margin automatica do inline-block
  *zoom: 1; // Hack Internet Explorer: Significa display: inline nas versões antigas do Internet Explorer
  *display: inline;
  text-align: left;
}

@include gerar-colunas(100%);

/*GUIDE
Base|Grid
<div class="container">
  <div class="row">
    <div class="col col-4">
      <div class="holder b-primaria">col col-4</div>
     </div>
    <div class="col col-8">
      <div class="holder b-primaria">col col-8</div>
    </div>
  </div>
  <div class="row">
    <div class="col col-8">
      <div class="holder b-primaria">col col-8</div>
     </div>
    <div class="col col-4">
      <div class="holder b-primaria">col col-4</div>
    </div>
  </div>
</div>
*/