.header {
  &__logo {
    width: 100px;
    padding: 6px 0;
  }
  &__menu {
    padding: 32px 0;

    &__lista {
      margin: 0;
      padding: 0;

      &__item {
        display: inline-block;
        margin: 0 12px;
      }
    }
  }
}

/*GUIDE
Componente|Header
<header class="header full-width b-branco sombra">
  <div class="container">
    <div class="row">
      <div class="c-branco col col-2 m-col-3 s-col-4 xs-col-12 text-align-left">
        <img class="header__logo" src="/public/img/logo.png" />
      </div>
      <div class="c-branco col col-10 m-col-9 s-col-8 xs-col-12 text-align-left">
        <nav class="header__menu">
          <ul class="header__menu__lista">
            <li class="header__menu__lista__item"><a href="#" class="link link--primario c-primaria">Video Games</a></li>
            <li class="header__menu__lista__item"><a href="#" class="link link--primario c-primaria">Livros</a></li>
            <li class="header__menu__lista__item"><a href="#" class="link link--primario c-primaria">Café</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
*/