.op-5 {
  opacity: 0.05;
}

.op-20 {
  opacity: 0.2;
}

.op-40 {
  opacity: 0.40;
}

.op-60 {
  opacity: 0.60;
}

.op-80 {
  opacity: 0.80;
}


/*GUIDE
Helpers|Opacidade
<div class="holder holder--short b-preto op-5"></div>
<div class="holder holder--short">op-5</div>
<br>
<div class="holder holder--short b-preto op-20"></div>
<div class="holder holder--short">op-20</div>
<br>
<div class="holder holder--short b-preto op-40"></div>
<div class="holder holder--short">op-40</div>
<br>
<div class="holder holder--short b-preto op-60"></div>
<div class="holder holder--short">op-60</div>
<br>
<div class="holder holder--short b-preto op-80"></div>
<div class="holder holder--short">op-80</div>
*/

.no-margin {
  margin: 0 ;
}

/*GUIDE
Helpers|no-margin
<div class="container">
  <div class="row">
    <div class="col col-8 no-margin">
      <div class="holder sombra no-margin">col col-8</div>
     </div>
    <div class="col col-4">
      <div class="holder sombra">col col-4</div>
    </div>
  </div>
</div>
*/

.no-padding {
  padding: 0;
}

/*GUIDE
Helpers|no-padding
<div class="container">
  <div class="row">
    <div class="col col-4">
      <div class="holder sombra">col col-4</div>
     </div>
    <div class="col col-8">
      <div class="holder sombra">col col-8</div>
    </div>
  </div>
  <div class="row">
    <div class="col col-8 no-padding">
      <div class="holder sombra">col col-8 no-padding</div>
     </div>
    <div class="col col-4">
      <div class="holder sombra">col col-4</div>
    </div>
  </div>
</div>
*/

.max-full-width {
  max-width: 100%;
}

/*GUIDE
Helpers|Largura Máxima 100%
<img src="http://via.placeholder.com/2000x350" class="max-full-width" />
<div class="holder hoder--short sombra">max-full-width</div>
*/

.full-width {
  width: 100%;
}

/*GUIDE
Helpers|Largura 100%
<div class="holder full-width sombra">full-width</div>
*/

.half-width {
  width: calc(100% / 2);
}

/*GUIDE
Helpers|Largura 50%
<div class="holder half-width sombra">half-width</div>
*/

.uppercase {
  text-transform: uppercase;
}

/*GUIDE
Helpers|Transformação de texto
<div class="holder uppercase sombra">uppercase</div>
*/

.pre-line {
  white-space: pre-line;
}
/*GUIDE
Helpers|Forçar quebra de linha
<p class="primary-font paragraph pre-line">
  pre-line
  Hello, llama! soup! Is albino Is yeah! seriously, Hello! soup. I, man, my
  heeheeheeheehee! Mmm! Ho-ho! Luigi's cow! wait. Makes Bambi! albino Way,
  right? Mama mia... Street udon was Way, so guy... so that, He's say, Now, guy...
  Did bathtub. guy... he's Saturday Advance your she Kong Kart Advance That's,
  Kart tamale! Look, mean Wii 'Keep glad 'chorizo'? does! Oh. 'crabby', say, say,
  Yeah, what is Bros. New
  pre-line
</p>
*/

.text-align-center {
  text-align: center;
}
.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}

/*GUIDE
Helpers|Alinhamento texto
<div class="holder sombra text-align-center">text-align-center</div>
<div class="holder sombra text-align-left">text-align-left</div>
<div class="holder sombra text-align-right">text-align-right</div>
*/

.inline-block {
  display: inline-block;
}
/*GUIDE
Helpers|Display
<div class="holder sombra inline-block">inline-block</div>
*/
