@mixin extra-largo {
  @media screen and (min-width: $extra-largo) {
    @content;
  }
}
@mixin largo {
  @media screen and (min-width: $largo) and (max-width: $extra-largo) {
    @content;
  }
}
@mixin medio {
  @media screen and (min-width: $medio) and (max-width: $largo) {
    @content;
  }
}
@mixin pequeno {
  @media screen and (min-width: $pequeno) and (max-width: $medio) {
    @content;
  }
}
@mixin extra-pequeno {
  @media screen and (max-width: $pequeno) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $medio) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $medio) {
    @content;
  }
}

@mixin gerar-colunas(
  $largura-base: 1200px,
  $prefixo: "",
  $numero-colunas: 12
) {
  $lista: null;
  // Um loop do número 1 até o $numero-colunas
  @for $i from 1 through $numero-colunas {
    $numero-coluna: $i;
    .#{$prefixo}col-#{$numero-coluna} {
      // Regra de 3 (A largura base dividiva pelo número de colunas vezes o número de colunas
      width: calc((#{$largura-base} / #{$numero-colunas}) * #{$numero-coluna});
    }
    $lista: append(
      $lista,
      unquote(".#{$prefixo}col-#{$numero-coluna}"),
      comma
    );
  }
  #{$lista} {
    // Adicionar a lista de classes gerada pelo loop
  }
}