@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

.font-primaria {
  font-family: 'Source Sans Pro', sans-serif;
}

.h1 {
  font-size: 42px;
  font-weight: 700;
}
/*GUIDE
Tipografia|Header 1
<h1 class="font-primaria h1">Header 1</h1>
*/

.h2 {
  font-size: 28px;
  font-weight: 600;
}
/*GUIDE
Tipografia|Header 2
<h2 class="font-primaria h2">Header 2</h2>
*/

.h3 {
  font-size: 18px;
  font-weight: 500;
}
/*GUIDE
Tipografia|Header 3
<h3 class="font-primaria h3">Header 3</h3>
*/

.paragraph {
  font-size: 14px;
  font-weight: 400;
}
/*GUIDE
Tipografia|Paragrafo
<p class="font-primaria paragraph">
  Hello, llama! soup! Is albino Is yeah! seriously, Hello! soup. I, man, my heeheeheeheehee! Mmm! Ho-ho! Luigi's cow! wait. Makes Bambi! albino Way, right? Mama mia... Street udon was Way, so guy... so that, He's say, Now, guy... Did bathtub. guy... he's Saturday Advance your she Kong Kart Advance That's, Kart tamale! Look, mean Wii 'Keep glad 'chorizo'? does! Oh. 'crabby', say, say, Yeah, what is Bros. New
</p>
*/