@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

.font-primaria {
  font-family: 'Source Sans Pro', sans-serif;
}

.h1 {
  font-size: 42px;
  font-weight: 700;
  position: relative;

  &::before {
    content: '';
    height: 3px;
    width: 40px;
    background-color: $cor-primaria;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
/*GUIDE
Tipografia|Header 1

<h1 class="font-primaria h1">Header 1</h1>
*/

.h2 {
  font-size: 28px;
  font-weight: 600;
}
/*GUIDE
Tipografia|Header 2

<h1 class="font-primaria h2">Header 2</h1>
*/

.h3 {
  font-size: 18px;
  font-weight: 500;
}
/*GUIDE
Tipografia|Header 3

<h1 class="font-primaria h3">Header 3</h1>
*/

.paragrafo {
  font-size: 14px;
  font-weight: 400;
}
/*GUIDE
Tipografia|Paragrafo

<p class="font-primaria paragrafo">
  Yeah! at Oh. Why? Wii Oh. & Oh. that, C'est man, Mix soup. Mm-hmm! yeah! hot Wait, that's Chorizo! that! right? Strikers I, bathtub. Sonic looks guy... Chorizo! I'm Advance Oh... at bet little your udon is! Sunshine The Makes at that! Sunshine Bambi! Fortune Double soupy. at Toadstool little 'chorizo'? Mix so Hotel guy... your hibiscus! bro, does! a-a-a-a Sports seriously, 'chorizo'? it? Mmm! red! bet Oh... Makes so Mix Chorizo! Saturday Oh, man, & tamale! swingcycle!
</p>
*/
