@import 'reset';
@import 'breakpoints';
@import 'mixins';
@import 'cores';
@import 'tipografia';
@import 'grid';
@import 'botoes';
@import 'links';
@import 'sombra';
@import 'borda';

@import 'header';
@import 'footer';
@import 'produto-lista';
@import 'produto-detalhe';

.page {
  padding: 42px 0;
}

.holder {
  @extend .font-primaria;
  display: block;
  margin: 10px;
  padding: 20px;
  text-align: certer;
  box-sizing: border-box;

  &--short {
    width: 150px;
    display: inline-block;
    vertical-align: top;
  }
}

@import "helpers";