@import 'tipografia';
@import 'cores';
@import 'grid';
@import 'sombra';
@import 'borda';

.exemplo__bloco {
  @extend .primary-font;
  display: inline-block;
  height: 120px;
  width: 120px;
  padding: 50px 10px;
  margin: 5px;
  border-radius: 100px;
  text-align: center;
  vertical-align: top;
}

.holder {
  @extend .primary-font;
  margin: 10px;
  padding: 20px;
  text-align: center;
}